<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL7NLdXqKGdlFVMQc3LQ_LKpoPdyWLdhY</string>
	<key>GCM_SENDER_ID</key>
	<string>99940522863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.doss.app</string>
	<key>PROJECT_ID</key>
	<string>doss-app-residential</string>
	<key>STORAGE_BUCKET</key>
	<string>doss-app-residential.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99940522863:ios:85a7cb1d8666fa897f669a</string>
</dict>
</plist>